{% extends 'base.html' %}
{% load price_custom_tags %}

{% load static %}

{% block content%}


<div class="container mt-3">
   <h4 class="widget-title">Select Address</h4>
    <form>
    
      {% for address in addresses%}
      <div class="form-check">
         
         <input class="form-check-input" type="radio"  name="address" id="flexRadioDefault{{address.id}}" value="{{address.id}}" onclick="handleChange({{address.id}})" >
         <label class="form-check-label" for="flexRadioDefault1">
            {{address.first_name}}.{{address.last_name}} : {{ address.full_address}}
            <input type="text" style="display: none;" value="{{address.first_name}}" id ="f_name{{address.id}}">
            <input type="text" style="display: none;" value="{{address.last_name}}" id ="l_name{{address.id}}">
            <input type="text" style="display: none;" value="{{address.email}}" id ="emaill{{address.id}}">
            <input type="text" style="display: none;" value="{{address.phone_number}}" id ="p_number{{address.id}}">
            <input type="text" style="display: none;" value="{{address.address_line_1}}" id ="address1{{address.id}}">
            <input type="text" style="display: none;" value="{{address.address_line_2}}" id ="address2{{address.id}}">
            <input type="text" style="display: none;" value="{{address.state}}" id ="f_state{{address.id}}">
            <input type="text" style="display: none;" value="{{address.city}}" id ="f_city{{address.id}}">
            <input type="text" style="display: none;" value="{{address.country}}" id ="f_country{{address.id}}">
         </label>
       
      </div>
      {% endfor %}
  

   </form>    
 </div>
 
<div class="page-wrapper">
    <div class="checkout shopping">
       <div class="container">
          <div class="row">
             <div class="col-md-8">
                <div class="block billing-details">
                   <h4 class="widget-title">Billing Details</h4>
                   <form class="checkout-form" action="{% url 'place_order' %}" method='POST'>
                    
                     {% csrf_token %}
                   
                     <div class="checkout-country-code clearfix">
                        <div class="form-group">
                           <label >First Name</label>
                           <input type="text" class="form-control" id="first_name" name="first_name"  value="{{addresses.first_name}}">
                        </div>
                        <div class="form-group" >
                           <label >last Name</label>
                           <input type="text" class="form-control" name="last_name" id="last_name"  value="{{addresses.last_name}}">
                        </div>
                     </div>
                     <div class="checkout-country-code clearfix">
                        <div class="form-group">
                           <label >Email</label>
                           <input type="email" class="form-control" name="email" id="email"  value=""> 
                        </div>
                        <div class="form-group" >
                           <label >Phone Number</label>
                           <input type="text" class="form-control" name="phone_number" id="phone_number" value="">
                        </div>
                     </div>
                      <div class="form-group">
                         <label >Address Line 1</label>
                         <input type="text" class="form-control" name="address_line_1" id="address_line_1"  value="">
                      </div>
                      <div class="form-group">
                        <label >Address Line 2</label>
                        <input type="text" class="form-control" name="address_line_2" id="address_line_2"  value="">
                     </div>
                      <div class="checkout-country-code clearfix">
                         <div class="form-group">
                            <label >state</label>
                            <input type="text" class="form-control" id="state" name="state" value="">
                         </div>
                         <div class="form-group" >
                            <label >City</label>
                            <input type="text" class="form-control" id="city" name="city" value="">
                         </div>
                      </div>
                      <div class="form-group">
                         <label >Country</label>
                         <input type="text" class="form-control" id="country" name="country" value="">
                      </div>
                     <div class="form-group">
                        <label >Order Note</label>
                        <input type="text" class="form-control" id="order_note" name="order_note"  value="">
                     </div>
                     <div class="mt-3" style="margin-top:30px;">
                     <h4 class="widget-title " >Payment Method</h4>
                     </div>
                     <div class="form-check">
                        <input class="form-check-input" type="radio" name="payment_method" id="flexRadioDefault1" value="cod_method">
                        <label class="form-check-label" for="flexRadioDefault1">
                          Cash On Delivery
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="payment_method" id="flexRadioDefault2" value="paypal_method" checked>
                        <label class="form-check-label" for="flexRadioDefault2">
                          PayPal
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="payment_method" id="flexRadioDefault3" value="razor_method" >
                        <label class="form-check-label" for="flexRadioDefault3">
                          Razor Pay
                        </label>
                      </div>
                 
                </div>
               
             </div>
             <div class="col-md-4">
                <div class="product-checkout-details">
                   <div class="block">
                      <h4 class="widget-title">Order Summary</h4>
                      {% for cart_item in cart_items %}
                      <div class="media product-card">
                       
                         <a class="pull-left" href="product-single.html">
                            <img class="media-object" src=" {{ cart_item.product.images.url}}" alt="Image" />
                         </a>
                        
                         <div class="media-body">
                            <h4 class="media-heading"><a href="{{ cart_item.product.get_url }}">{{ cart_item.product.product_name}}</a></h4>
                            {% if cart_item.product.discount > cart_item.product.category.discount %}
                            <p class="price">{{ cart_item.quantity}} x Rs.{% sell_price cart_item.product.price cart_item.product.discount %}.00</p>
                            {% else %}
                            <p class="price">{{ cart_item.quantity}} x Rs.{% sell_price cart_item.product.price cart_item.product.category.discount %}.00</p>
                            {% endif %}
                            <span class="remove" > <a href="{% url 'remove_cart'  cart_item.product.id cart_item.id %}">Remove</a> </span>
                         </div>
                      </div>
                      
                    {% endfor %}

                     {% if coupon_code == None or coupon_code == 0 %}
                     <div class="discount-code">
                        <p>Have a Coupon ? <a data-toggle="modal" data-target="#coupon-modal" href="#!">enter it here</a></p>
                     </div>

                     {% else %}

                     <div class="discount-code">
                        <p style="color: green;">Coupon Applied  &nbsp; &nbsp;&nbsp; &nbsp;<a data-toggle="modal" data-target="#coupon-modal" href="#!">Try another one ?</a></p>
                     </div>
                     
                     <div class="discount-code">
                        <button type="button" style="color:red;" class="btn" onclick="remo_coupons()">Remove coupon</button>

                     </div>
                     

                      {% endif %}
                      <ul class="summary-prices">
                         <li>
                            <span>Subtotal:</span>
                            <span class="price">Rs.{{ totals }}.00 </span>
                         </li>
                         {% if coupon_code == None or coupon_code == 0 %}
                         
                        {% else %}
                        <li>
                           <span>Discount:</span>
                           <span class="price">-Rs.{{ coupon_discount_total }}.00 </span>
                        </li>
                        {% endif %}
                         <li>
                                
                            <span>Shipping:</span>
                            <span>Free</span>
                         </li>
                           
                         <li>
                                
                            <span>GST:</span>
                            <span>Rs.{{ gst }}.00</span>
                         </li>
                         
                      </ul>
                      <div class="summary-total">
                         <span>Total</span>
                         <span>Rs.{{ grand_total}}.00</span>
                      </div>

                      <button type='submit'  class="btn btn-main mt-20">Place Order</button >
                      
                      </form>
                        <div class="verified-icon">
                         <img src="{% static 'images/shop/verified.png' %}">
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>

  <!-- Modal -->
  <div class="modal fade" id="coupon-modal" tabindex="-1" role="dialog">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-body">
            <form id="couponss" method='POST'>
               {% csrf_token %}
               <div class="form-group">
                  <input class="form-control" id='coupon_code' type="text" placeholder="Enter Coupon Code" value="">
               </div>
               <input type="submit"  class="btn btn-main" value='Apply Coupon'>
            </form>
         </div>
      </div>
   </div>
</div>

 <script>
   function handleChange(src) {
   
   var f_name = document.getElementById("f_name" + src).value
   var l_name = document.getElementById("l_name" + src).value
   var emaill = document.getElementById("emaill" + src).value
   var p_number = document.getElementById("p_number" + src).value
   var address1 = document.getElementById("address1" + src).value
   var address2 = document.getElementById("address2" + src).value
   var f_state = document.getElementById("f_state" + src).value
   var f_city = document.getElementById("f_city" + src).value
   var f_country = document.getElementById("f_country" + src).value
   
   
       //default saved home address
       if(src){
       document.getElementById("first_name").value=f_name;
       document.getElementById("last_name").value=l_name;
       document.getElementById("email").value=emaill;
       document.getElementById("phone_number").value=p_number;
       document.getElementById("address_line_1").value=address1;
       document.getElementById("address_line_2").value=address2;
       document.getElementById("state").value=f_state;
       document.getElementById("city").value=f_city;
       document.getElementById("country").value=f_country;
     }
    
   }


	$(document).on('submit', '#couponss', function (e) {
		e.preventDefault();
		var coupon_code = $('#coupon_code').val()
		

		$.ajax({
			method: "GET",
			url: "coupon",
			dataType: 'json',
			data: {
		
            'coupon_code' : coupon_code,
            csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
			},
			success: function (responce) {
				console.log(responce)
				if (responce.success == true) {
					setTimeout(function(){
                  window.location.replace('{{checkout}}');
        
                  }, 1500)
                  
                  Swal.fire({
                    toast: true,
                    icon: 'success',
                    title: 'Coupon Applied Successfully',
                    animation: false,
                    position: 'top-right',
                    showConfirmButton: false,
                    timer: 3000,
                    timerProgressBar: true,
                  })
				} 
            else if (responce.coupon_valid == false) {
               document.getElementById("coupon_code").value="";
               document.getElementById("coupon_code").placeholder = "Not a valid coupon";
               document.getElementById("coupon_code").style.border = "solid red 1px";
            }
				
				else if (responce.success == false) {
               document.getElementById("coupon_code").value="";
               document.getElementById("coupon_code").placeholder = "Coupon expired";
               document.getElementById("coupon_code").style.border = "solid red 1px";
            }
            else if (responce.coupon_valid == true) {
               document.getElementById("coupon_code").value="";
               document.getElementById("coupon_code").placeholder = "Not Post";
               document.getElementById("coupon_code").style.border = "solid red 1px";
            }
            else if (responce.coupon_exist == true) {
               document.getElementById("coupon_code").value="";
               document.getElementById("coupon_code").placeholder = "This coupon is currently applied";
               document.getElementById("coupon_code").style.border = "solid red 1px";
            }
            else if (responce.coupon_exist == false) {
               document.getElementById("coupon_code").value="";
               document.getElementById("coupon_code").placeholder = "This coupon is currently applied";
               document.getElementById("coupon_code").style.border = "solid red 1px";
            }
            else if (responce.already == true) {
               document.getElementById("coupon_code").value="";
               document.getElementById("coupon_code").placeholder = "Coupon applied once";
               document.getElementById("coupon_code").style.border = "solid red 1px";
            }
            else if (responce.exist == false) {
               document.getElementById("coupon_code").value="";
               document.getElementById("coupon_code").placeholder = "Not a valid Coupon";
               document.getElementById("coupon_code").style.border = "solid red 1px";
            }
			}
		})


	});
</script>
<script>

   function remo_coupons() {
         $.ajax({
         method: 'GET',
         url: 'remove_coupon',
         dataType: 'json',
         data: {
         
         },
        
         success: function (responce) {
            console.log('where')
         if (responce.success == true) {
            setTimeout(function(){
               window.location.replace('{{checkout}}');
      
               }, 1500)
               
               Swal.fire({
                  toast: true,
                  icon: 'success',
                  title: 'Coupon removed successfully',
                  animation: false,
                  position: 'top-right',
                  showConfirmButton: false,
                  timer: 3000,
                  timerProgressBar: true,
               })


            
            
         }
         else if (responce.success == false) {
            window.location.replace('{{checkout}}');
         }
      
         },
      
   })}
           
            
               
   

</script>
 
 
 


 {% endblock %}