{% extends 'base.html' %}

{% load static %}

{% block content%}


<div class="page-wrapper">
    <div class="checkout shopping">
       <div class="container">
          <div class="row">
             <div class="col-md-8">
                <div class="block billing-details">
                   <h4 class="widget-title">Billing Details</h4>
                   <form class="checkout-form" action="{% url 'place_order' %}" method='POST'>
                    
                     {% csrf_token %}
                   
                     <div class="checkout-country-code clearfix">
                        <div class="form-group">
                           <label >First Name</label>
                           <input type="text" class="form-control" id="first_name" name="first_name"  value="">
                        </div>
                        <div class="form-group" >
                           <label >last Name</label>
                           <input type="text" class="form-control" name="last_name" id="last_name"  value="">
                        </div>
                     </div>
                     <div class="checkout-country-code clearfix">
                        <div class="form-group">
                           <label >Email</label>
                           <input type="email" class="form-control" name="email" id="email"  value=""> 
                        </div>
                        <div class="form-group" >
                           <label >Phone Number</label>
                           <input type="text" class="form-control" name="phone" id="phone_number" value="">
                        </div>
                     </div>
                      <div class="form-group">
                         <label >Address Line 1</label>
                         <input type="text" class="form-control" name="address_line_1" id="address_line_1"  value="">
                      </div>
                      <div class="form-group">
                        <label >Address Line 2</label>
                        <input type="text" class="form-control" name="address_line_2" id="address_line_2"  value="">
                     </div>
                      <div class="checkout-country-code clearfix">
                         <div class="form-group">
                            <label >state</label>
                            <input type="text" class="form-control" id="state" name="state" value="">
                         </div>
                         <div class="form-group" >
                            <label >City</label>
                            <input type="text" class="form-control" id="city" name="city" value="">
                         </div>
                      </div>
                      <div class="form-group">
                         <label >Country</label>
                         <input type="text" class="form-control" id="country" name="country" value="">
                      </div>
                     <div class="form-group">
                        <label >Order Note</label>
                        <input type="text" class="form-control" id="order_note" name="order_note"  value="">
                     </div>
                     <div class="mt-3" style="margin-top:30px;">
                     <h4 class="widget-title " >Payment Method</h4>
                     </div>
                     <div class="form-check">
                        <input class="form-check-input" type="radio" name="payment_method" id="flexRadioDefault1" value="cod_method">
                        <label class="form-check-label" for="flexRadioDefault1">
                          Cash On Delivery
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="payment_method" id="flexRadioDefault2" value="paypal_method" checked>
                        <label class="form-check-label" for="flexRadioDefault2">
                          PayPal
                        </label>
                      </div>
                 
                </div>
               
             </div>
             <div class="col-md-4">
                <div class="product-checkout-details">
                   <div class="block">
                      <h4 class="widget-title">Order Summary</h4>
                      {% for cart_item in cart_items %}
                      <div class="media product-card">
                       
                         <a class="pull-left" href="product-single.html">
                            <img class="media-object" src=" {{ cart_item.product.images.url}}" alt="Image" />
                         </a>
                        
                         <div class="media-body">
                            <h4 class="media-heading"><a href="{{ cart_item.product.get_url }}">{{ cart_item.product.product_name}}</a></h4>
                            <p class="price">{{ cart_item.quantity}} x Rs.{{ cart_item.product.price }}.00</p>
                            <span class="remove" > <a href="{% url 'remove_cart'  cart_item.product.id cart_item.id %}">Remove</a> </span>
                         </div>
                      </div>
                      
                    {% endfor %}

                     
                      <div class="discount-code">
                         <p>Have a discount ? <a data-toggle="modal" data-target="#coupon-modal" href="#!">enter it here</a></p>
                      </div>
                      <ul class="summary-prices">
                         <li>
                            <span>Subtotal:</span>
                            <span class="price">Rs.{{ total }}.00 </span>
                         </li>
                         
                         <li>
                                
                            <span>Shipping:</span>
                            <span>Free</span>
                         </li>
                           
                         <li>
                                
                            <span>TAX:</span>
                            <span>Rs.{{ gst }}0</span>
                         </li>
                         
                      </ul>
                      <div class="summary-total">
                         <span>Total</span>
                         <span>Rs.{{ grand_total}}0</span>
                      </div>

                      <button type='submit'  class="btn btn-main mt-20">Place Order</button >
                      
                      </form>
                        <div class="verified-icon">
                         <img src="{% static 'images/shop/verified.png' %}">
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>

    <!-- Modal -->
    <div class="modal fade" id="coupon-modal" tabindex="-1" role="dialog">
       <div class="modal-dialog" role="document">
          <div class="modal-content">
             <div class="modal-body">
                <form>
                   <div class="form-group">
                      <input class="form-control" type="text" placeholder="Enter Coupon Code">
                   </div>
                   <button type="submit" class="btn btn-main">Apply Coupon</button>
                </form>
             </div>
          </div>
       </div>
    </div>
    {% endblock %}