{% extends 'base.html' %}

{% load static %}

{% block content%}


<div class="page-wrapper">
    <div class="checkout shopping">
       <div class="container">
          <div class="row">
             <div class="col-md-8">
                <div class="block billing-details">
                   <h4 class="widget-title">Billing Details</h4>
                   <form class="checkout-form" action='{% url 'place_order' %}' method='POST'>
                    
                     {% csrf_token %} 
                   
                     <div class="checkout-country-code clearfix">
                        <div class="form-group">
                           <label for="full_name">First Name</label>
                           <input type="text" class="form-control" id="full_name" name="full_name" placeholder="">
                        </div>
                        <div class="form-group" >
                           <label for="last_name">last Name</label>
                           <input type="text" class="form-control" name="last_name" id="last_name" placeholder="">
                        </div>
                     </div>
                     <div class="checkout-country-code clearfix">
                        <div class="form-group">
                           <label for="email">Email</label>
                           <input type="text" class="form-control" name="email" id="Email" placeholder="">
                        </div>
                        <div class="form-group" >
                           <label for="phone_number">Phone Number</label>
                           <input type="text" class="form-control"name="phone_number" id="phone_number" placeholder="">
                        </div>
                     </div>
                      <div class="form-group">
                         <label for="user_address">Address Line 1</label>
                         <input type="text" class="form-control" name="user_address1"id="user_address1" placeholder="">
                      </div>
                      <div class="form-group">
                        <label for="user_address">Address Line 2</label>
                        <input type="text" class="form-control" name="user_address2"id="user_address2" placeholder="">
                     </div>
                      <div class="checkout-country-code clearfix">
                         <div class="form-group">
                            <label for="user_post_code">state</label>
                            <input type="text" class="form-control" id="state" name="state" value="">
                         </div>
                         <div class="form-group" >
                            <label for="user_city">City</label>
                            <input type="text" class="form-control" id="city" name="city" value="">
                         </div>
                      </div>
                      <div class="form-group">
                         <label for="user_country">Country</label>
                         <input type="text" class="form-control" id="country" name="country" placeholder="">
                      </div>
                 
                </div>
               
             </div>
             <div class="col-md-4">
                <div class="product-checkout-details">
                   <div class="block">
                      <h4 class="widget-title">Order Summary</h4>
                      {% for cart_item in cart_items %}
                      <div class="media product-card">
                       
                         <a class="pull-left" href="product-single.html">
                            <img class="media-object" src=" {{ cart_item.product.images.url}}" alt="Image" />
                         </a>
                        
                         <div class="media-body">
                            <h4 class="media-heading"><a href="{{ cart_item.product.get_url }}">{{ cart_item.product.product_name}}</a></h4>
                            <p class="price">{{ cart_item.quantity}} x Rs.{{ cart_item.product.price }}.00</p>
                            <span class="remove" > <a href="{% url 'remove_cart'  cart_item.product.id cart_item.id %}">Remove</a> </span>
                         </div>
                      </div>
                      
                    {% endfor %}

                     
                      <div class="discount-code">
                         <p>Have a discount ? <a data-toggle="modal" data-target="#coupon-modal" href="#!">enter it here</a></p>
                      </div>
                      <ul class="summary-prices">
                         <li>
                            <span>Subtotal:</span>
                            <span class="price">Rs.Rs.{{ total }}.00 </span>
                         </li>
                         
                         <li>
                                
                            <span>Shipping:</span>
                            <span>Free</span>
                         </li>
                           
                         <li>
                                
                            <span>GST:</span>
                            <span>Rs.{{ gst }}0</span>
                         </li>
                         
                      </ul>
                      <div class="summary-total">
                         <span>Total</span>
                         <span>Rs.{{ grand_total}}0</span>
                      </div>

                      <button type='submit' name='submit' class="btn btn-main mt-20">Place Order</button >
                      
                      </form>
                        <div class="verified-icon">
                         <img src="{% static 'images/shop/verified.png' %}">
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>

    <!-- Modal -->
    <div class="modal fade" id="coupon-modal" tabindex="-1" role="dialog">
       <div class="modal-dialog" role="document">
          <div class="modal-content">
             <div class="modal-body">
                <form>
                   <div class="form-group">
                      <input class="form-control" type="text" placeholder="Enter Coupon Code">
                   </div>
                   <button type="submit" class="btn btn-main">Apply Coupon</button>
                </form>
             </div>
          </div>
       </div>
    </div>
    {% endblock %}