{% extends 'base.html' %}
{% load price_custom_tags %}
{% load static %}

{% block content%}

<section class="single-product">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<ol class="breadcrumb">
					<li><a href="{% url 'home' %}">Home</a></li>
					
					<li><a href="{{category.get_url}}">{{ single_product.category.category_name }}</a></li>
					<li><a href="{{subcategory.get_url}}">{{ single_product.subcategory.sub_category_name }}</a></li>
					<li><a href="{{ product.get_url }}">{{ single_product.product_name }}</a></li>
					
				</ol>
			</div>
			<div class="col-md-6">
				<ol class="product-pagination text-right">
					
				</ol>
			</div>
		</div>
		<div class="row mt-20">
			<div class="col-md-5">
				<div class="single-product-slider">
					<div id='carousel-custom' class='carousel slide' data-ride='carousel'>
						<div class='carousel-outer magniflier'>
							<!-- me art lab slider -->
							<div class='carousel-inner magniflier '>
								<div class='item active mag'>
									
									<img class="magniflier "  data-toggle="magnify" src='{{ single_product.images.url }}' alt='' style="width:450px;"   />
									
								</div>
								<div class='item'>
									<img class="magniflier" data-toggle="magnify" src='{{ single_product.image3.url }}' alt='' style="width:450px;"  />
								</div>
								
								<div class='item'>
									<img class="magniflier" data-toggle="magnify" src='{{ single_product.image2.url }}' alt='' style="width:450px;"  />
								</div>
								
								
							</div>
						
							
							
							<!-- sag sol -->
							<a class='left carousel-control' href='#carousel-custom' data-slide='prev'>
								<i class="tf-ion-ios-arrow-left"></i>
							</a>
							<a class='right carousel-control' href='#carousel-custom' data-slide='next'>
								<i class="tf-ion-ios-arrow-right"></i>
							</a>
						</div>
						
						
					</div>
				</div>
			</div>
			<div class="col-md-7">
				<form action="{% url 'add_cart' single_product.id %}" method='POST'>
					{% csrf_token %}
					<div class="single-product-details">
						<h2>{{single_product.product_name}}</h2>
						{% if product.discount > product.category.discount %}
							{% if products.discount > 1%}
								<span class="price">Rs. <del>{{single_product.price}}</del>
									&nbsp; &nbsp;
								<span >{% sell_price single_product.price products.discount  %}</span>
								</span>
							{% else %}
								<span class="price">Rs.{{single_product.price}}</span>
							{% endif %}
						{% else %}
							{% if products.category.discount > 1%}
								<span class="price">Rs. <del>{{single_product.price}}</del>
									&nbsp; &nbsp;
								<span >{% sell_price single_product.price products.category.discount  %}</span>
								</span>
							{% else %}
								<span class="price">Rs.{{single_product.price}}</span>
							{% endif %}
						{% endif %}
						<p class="product-description mt-20">
							{{single_product.description}}
						</p>
						
						<div class="product-size">
							<span>color:</span>
						<select name="color" class="form-control" id="" required>
							<option value="" disabled selected>Pick</option>
							{% for i in single_product.variation_set.colors %}
							<option value="{{ i.variation_value | lower }}">{{ i.variation_value | capfirst }}</option>
							{% endfor %}
						</select>
						</div>
						<div class="product-size">
							<span>Size:</span>
							<select name="size" class="form-control" required>
							<option value="" disabled selected>Pick</option>
							{% for i in single_product.variation_set.sizes %}
							<option value="{{ i.variation_value | lower }}">{{ i.variation_value | capfirst }}</option>
							{% endfor %}
							</select>
						</div>
						

						<div class="product-category" >
							<span>Categories:</span>
							<ul>
								<li><a href="{{category.get_url}}" >{{single_product.category}}</a></li>
							</ul>
						</div>
							<div class="product-category">
							<span>Brand:</span>
							<ul>
								<li><a href="{{category.get_url}}">{{single_product.brand}}</a></li>
							</ul>
						</div>
						{% if single_product.stock <= 0%}
						<a  class="btn btn-main mt-20 ">Out Of Stock</a>
						{% else %}
						<button type="submit"  class="btn btn-main mt-20">Add To Cart</button>
						{% endif %}
					</div>
				</div>
		</form>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div class="tabCommon mt-20">
					<ul class="nav nav-tabs">
						<li class="active"><a data-toggle="tab" href="#details" aria-expanded="true">Details</a></li>
						
					</ul>
					<div class="tab-content patternbg">
						<div id="details" class="tab-pane fade active in">
							<h4>Product Description</h4>
							<p>{{ single_product.description}}</p>
							
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</section>



{% endblock %}
