{% extends 'base.html' %}



{% block content%}

<section class="user-dashboard page-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ul class="list-inline dashboard-menu text-center">
					<li><a  href="{% url 'dashboard' %}">Dashboard</a></li>
					<li><a  href="{% url 'my_orders' %}">My Orders</a></li>
					<li><a href="{% url 'edit_profile' %}">Edit Profile</a></li>
          <li><a href="{% url 'address' %}">Address</a></li>
					<li><a  class="active" href="{% url 'change_password' %}">Change Password</a></li>
				</ul>
      </div>
      <div class="page-wrapper">
          <div class="checkout shopping">
            <div class="container">
            
              {% include 'includes/alerts.html' %}
                <div class="row">
                  <div class="col-md-12">
                    
                      <div class="block billing-details">
                        <h4 class="widget-title">Change Password</h4>
                        
                        <div class="block billing-details">
                        <form class="checkout-form" action="{% url 'change_password' %}" method='POST' enctype="multipart/form-data" >
                          
                          {% csrf_token %}
                        
                          <div class="checkout-country-code clearfix">
                            <div class="form-group">
                              <label >Current Password</label>
                              <input type="text" class="form-control" name="current_password" id="current_password"  value="">
                           </div>
                          </div>
                          <div class="checkout-country-code clearfix">
                            <div class="form-group">
                              <label >New Password</label>
                              <input type="text" class="form-control" name="new_password" id="new_password"  value="">
                            </div>
                          </div>
                          <div class="checkout-country-code clearfix">
                            <div class="form-group">
                              <label >Confirm Password</label>
                              <input type="text" class="form-control" name="confirm_password" id="confirm_password"  value="">
                            </div>
                          </div>
                          
                            <button type='submit'  class="btn btn-main mt-20">Submit</button >
                          </form>
                      
                        </div>
                      </div>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
          
        </div>

</section>


{% endblock %}