{% extends 'base.html' %}



{% block content%}

<section class="user-dashboard page-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
			
<ul class="list-inline dashboard-menu text-center">
    <li><a class="active" href="{% url 'dashboard' %}">Dashboard</a></li>
    <li><a href="{% url 'my_orders' %}">My Orders</a></li>
    <li><a href="{% url 'edit_profile' %}">Edit Profile</a></li>
	<li><a href="{% url 'address' %}">Address</a></li>
    <li><a href="{% url 'change_password' %}">Change Password</a></li>
</ul>
		  <div class=" dashboard-wrapper dashboard-user-profile">
			<div class="media">
			  <div class="pull-left text-center" href="#!">
				{% if userprofile.profile_picture %}
				<img class="media-object user-img" src="{{ userprofile.profile_picture.url}}" alt="Profile Image" style="border-radius:150px;">
				{% comment %} <a href="#x" class="btn btn-transparent mt-20">Change Image</a> {% endcomment %}
				{% else %}
				<h6> No profile picture uploaded </h6>
			</div>
			{% endif %}
			  <div class="media-body">
				<ul class="user-profile-list">
					
				  <li><span>Full Name:</span>{{user.full_name}}</li>
				  <li><span>Email:</span>{{user.email}}</li>
				  <li><span>Phone:</span>+91 {{ user.phone_number }}</li>
				  <li><span>Date of Birth:</span>Dec , 22 ,1991</li>
				</ul>
			  </div>
			</div>
			<div class=" total-order mt-">
				<h4 style="margin-top:60px ; text-align:center;">Total Orders</h4>
				<div class="table-responsive">
					<div class="col-md-12">
						<div class="card" style="text-align:center;">
							<div class="card-body">
								<h4>{{orders_count}}</h4>
								<button  class="btn btn-info" ><a href="{% url 'my_orders'%}">View Orders</a></button>
							</div>
						</div>
					</div>
				
		  </div>
		 
			</div>
		</div>
		</div>
	  </div>
	</div>
  </section>



{% endblock %}