{% extends 'base.html' %}



{% block content%}

<section class="user-dashboard page-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ul class="list-inline dashboard-menu text-center">
					<li><a  href="{% url 'dashboard' %}">Dashboard</a></li>
					<li><a class="active" href="{% url 'my_orders' %}">My Orders</a></li>
					<li><a href="{% url 'edit_profile' %}">Edit Profile</a></li>
					<li><a href="{% url 'change_password' %}">Change Password</a></li>
				</ul>
				<div class="dashboard-wrapper user-dashboard">
					<div class="table-responsive">
						<table class="table">
							<thead>
								<tr>
									<th>Order ID</th>
									<th>Billing Name</th>
									<th>Phone</th>
									<th>Total Price</th>
									<th>Date</th>
									<th>Status</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
								{% for order in orders %}
								<tr>
									<td>{{ order.order_number}}</td>
									<td>{{ order.full_name}}</td>
									<td>{{ order.phone}}</td>
									<td>USD.{{ order.order_total}}</td>
									<td>{{ order.created_at}}</td>

									<td><span class="label label-primary">Processing</span></td>
									<td>Cancel</td>
								</tr>
								{% endfor %}
									{% comment %} <td><span class="label label-success">Completed</span></td>
							
									<td><span class="label label-danger">Canceled</span></td>
								
									<td><span class="label label-info">On Hold</span></td>
								
									<td><span class="label label-warning">Pending</span></td>
									 {% endcomment %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock %}