{% extends 'base.html' %}



{% block content%}

<section class="user-dashboard page-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ul class="list-inline dashboard-menu text-center">
					<li><a  href="{% url 'dashboard' %}">Dashboard</a></li>
					<li><a class="active" href="{% url 'my_orders' %}">My Orders</a></li>
					<li><a href="{% url 'edit_profile' %}">Edit Profile</a></li>
					<li><a href="{% url 'address' %}">Address</a></li>
					<li><a href="{% url 'change_password' %}">Change Password</a></li>
				</ul>
				<div class="dashboard-wrapper user-dashboard">
					<div class="table-responsive">
						<table class="table">
							<thead>
								<tr>
									<th class="text-center" >Product</th>
									<th class="text-center" ></th>
									<th class="text-center" >Order Id</th>
									<th class="text-center" >Billing Name</th>
									<th class="text-center" >Total Price</th>
									<th class="text-center" >Date</th>
									<th class="text-center" >Status</th>
									<th class="text-center" >Action</th>
									<th class="text-center" >Invoice</th>
								</tr>
							</thead>
							<tbody>
								{% for orderproduct in orderproducts %}
								<tr>
									<td class="">
										<div class="product-info">
										  <img width="80" src="{{ orderproduct.product.images.url}}" alt="" />
										 
										</div>
									</td>
									<td>{{    orderproduct.product           }}</td>
									<td>{{    orderproduct.order.order_number }}</td>
									<td>{{    orderproduct.order.full_name    }}</td>
									
									<td>Rs.{{ orderproduct.order.order_total  }}</td>
									<td>{{    orderproduct.order.created_at   }}</td>
									
									{% if orderproduct.order.status == "New" %}
									<td><div class="text-center"  style="width:100px;  height:40px; display: grid;
										place-items: center; color:white; background-color:#3a5172;">Processing</div></td>
									{% elif orderproduct.order.status == "Transist" %}
									<td><div class="text-center"  style="width:100px;  height:40px; display: grid;
										place-items: center; color:white; background-color:#a3913d;">Shipped</div></td>
									{% elif orderproduct.order.status == "Accepted" %}
									<td><div class="text-center"  style="width:100px;  height:40px; display: grid;
										place-items: center; color:white; background-color:#3b7367;">Out for delivery</div></td>
									{% elif orderproduct.order.status == "Completed" %}
									<td><div class="text-center"  style="width:100px;  height:40px; display: grid;
										place-items: center; color:white; background-color:#3a723c;">Deliverd</div></td>
									{% elif orderproduct.order.status == "Cancelled" %}
									<td><div class="text-center"  style="width:100px;  height:40px; display: grid;
										place-items: center; color:white; background-color:#b44b4b;">Cancelled</div></td>
									{% elif orderproduct.order.status == "Returned" %}
									<td><div class="text-center"  style="width:100px;  height:40px; display: grid;
										place-items: center; color:white; background-color:#b44b4b;">Returned</div></td>
									{% endif %}
									{% if orderproduct.order.status == "Completed"%}
									
									<td>
										<button class="btn btn-block btn-dark " type="button" data-toggle="modal" data-target="#coupon-modal" >Return</button>
									</td>
									{% elif orderproduct.order.status == "Cancelled" %}
									<td><button class="btn btn-block btn-black disabled">No Action</button></td>
									{% elif orderproduct.order.status == "Returned" %}
									<td><button class="btn btn-block btn-black disabled">No Action</button></td>
									{% else %}
									<td>
										<button class="btn btn-block btn-dark " type="button" value="{{orderproduct.order.order_number}}" onclick="cancel_order('{{ orderproduct.order.order_number}}', '{{orderproduct.product}}','{{orderproduct.quantity }}')" >Cancel</button>
									</td>
									{% endif %}
									<td>
										<form action="{% url 'invoice_download' %}" method="POST">
											{% csrf_token %}
											<input type="text" id="order_number" name="order_number" style="display: none;" class="datechk form-control" value="{{orderproduct.order.order_number}}" >
											<input type="text" id="payment_id" name="payment_id" style="display: none;" class="datechk form-control" value="{{orderproduct.payment.payment_id}}" >
											<button type="submit" class="btn  btn-dark " >
												<span >
													Download
								
												</span>
											</button>
											</form>
									</td>

								</tr>
								{% endfor %}
									{% comment %} <td><span class="label label-success">Completed</span></td>
							
									<td><span class="label label-danger">Canceled</span></td>
								
									<td><span class="label label-info">On Hold</span></td>
								
									<td><span class="label label-warning">Pending</span></td>
									 {% endcomment %}
							</tbody>
						</table>
					</div>
					
				
				</div>
			</div>
		</div>
		<div >
        
			<nav aria-label="Page navigation example" style=" bottom:80px; right:70px;">
			  {% if orderproducts.has_other_pages %}
			  <ul class="pagination pg-black">
				{% if orderproducts.has_previous %}
				<li class="page-item  ">
				<a class="page-link" href="?page={{ orderproducts.previous_page_number}}" tabindex="-1" style="color: black;">Previous</a>
				</li>
				{% else %}
				<li class="page-item  ">
				<a class="page-link" href="#" tabindex="-1" style="color: black; display:none;"></a>
				</li>
				{% endif %}
				
			   
				{% for i in orderproducts.paginator.page_range %}
				{% if orderproducts.number == i %}
				
				<li class="page-item active">
				<a class="page-link" style="background-color: black;">{{i}}<span class="sr-only">{{i}}</span></a>
				</li>
				{% else %}
				<li class="page-item" style="color: black;"><a class="page-link" href="?page={{i}}" style="color: black;">{{i}}</a></li>
				{% endif %}
				{% endfor %}
			   
			   
				{% if orderproducts.has_next %}
				<li class="page-item  ">
				<a class="page-link" href="?page={{ orderproducts.next_page_number}}" tabindex="-1" style="color: black;">Next</a>
				</li>
			   
				{% else %}
				<li class="page-item  ">
				<a class="page-link" href="#" tabindex="-1" style="color: black;display:none;"></a>
				</li>
				{% endif %}
			  </ul>
			  </nav>
			  {% endif %}
			</div>
	</div>
	
  <!-- Modal -->
  {% for orderproduct in orderproducts %}
  <div class="modal fade" id="coupon-modal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
	   <div class="modal-content">
		  <div class="modal-body">
			 <form id="return_rq" method='POST'>
				{% csrf_token %}
				<div class="form-group">
				   <input class="form-control" style="display:none;" id='orderprdct_id' type="text"  value="{{ orderproduct.id}}">
 
					<p>Please tell us the reason for return: </p>
					<input class="form-control" id='reason' type="text"  value="" required>
					
				</div>
				<input type="submit"  class="btn btn-main" value='Submit'>
			 </form>
		  </div>
	   </div>
	</div>
 </div>
 {% endfor %}
 
</section>
<script type="text/javascript">

	// cancel order
	function cancel_order(order_no, order_prdt, order_qnty) {
        console.log(typeof(order_no, order_prdt, order_qnty ))
        swal({
          title: "Are you sure?",
          text: "Do you want to cancel the Order  " ,
          icon: "warning",
          buttons: true,
          dangerMode: true,
        }).then((willDelete) => {
          if (willDelete) {
            // swal("Order cancelled successfully", {
            //   icon: "success",
            //   timer: 2000,
            // })
            
            console.log("cancel order");
             $.ajax({
              url: 'cancel_order/'+order_no +"/"+order_prdt+"/"+order_qnty,
              data: {
                
              },
              method: "GET",
              success: (response) => {
                if (response.success= true) {
					swal(" Order cancelled successfuly",{
						
						icon : "success",
						button : false,
						timer : 2000, 

					})
                  
				  setTimeout(function(){
					location.reload();

				  }, 1900)
                }
                console.log(response)
              },
            }); 
              
          } else {
            // swal("");
          }
        });
      
        
           }

	</script>
	                    
<script>
	$(document).on('submit', '#return_rq', function (e) {
		  e.preventDefault();
		  var orderprdct_id = $('#orderprdct_id').val()

		  var reason = $('#reason').val()
		  
	  console.log(reason,'---id1')
	  console.log(orderprdct_id,'---oid')
  
		  $.ajax({
		
			  type: 'POST',
			  url: 'return_product',
			  dataType: 'json',
			  data: {
				  'orderprdct_id': orderprdct_id,
				  'reason' : reason,
				  csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
			  },
			  success: function (response) {
				  console.log(response)
				  if (response.success= true) {
					swal(" Wait for the response...",{
						
						icon : "success",
						button : false,
						timer : 2000, 

					})
                  
				  setTimeout(function(){
					location.reload();

				  }, 1900)
                } 
				else  {
					location.reload();
				  }

			  }
		  })
  
  
	  })
	  
  </script>
  
  


{% endblock %}