{% extends 'base.html' %}



{% block content%}

<section class="user-dashboard page-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ul class="list-inline dashboard-menu text-center">
					<li><a  href="{% url 'dashboard' %}">Dashboard</a></li>
					<li><a class="active" href="{% url 'my_orders' %}">My Orders</a></li>
					<li><a href="{% url 'edit_profile' %}">Edit Profile</a></li>
					<li><a href="{% url 'change_password' %}">Change Password</a></li>
				</ul>
				<div class="dashboard-wrapper user-dashboard">
					<div class="table-responsive">
						<table class="table">
							<thead>
								<tr>
									<th class="text-center" >Order ID</th>
									<th class="text-center" >Billing Name</th>
									<th class="text-center" >Product</th>
									<th class="text-center" >Phone</th>
									<th class="text-center" >Total Price</th>
									<th class="text-center" >Date</th>
									<th class="text-center" >Status</th>
									<th class="text-center" >Action</th>
								</tr>
							</thead>
							<tbody>
								{% for orderproduct in orderproducts %}
								<tr>
									<td>{{    orderproduct.order.order_number }}</td>
									<td>{{    orderproduct.order.full_name    }}</td>
									<td>{{    orderproduct.product            }}</td>
									<td>{{    orderproduct.order.phone        }}</td>
									<td>Rs.{{ orderproduct.order.order_total  }}</td>
									<td>{{    orderproduct.order.created_at   }}</td>
									
									{% if orderproduct.order.status == "New" %}
									<td><div class="text-center"  style="width:100px; color:white; background-color:#3a5172;">New</div></td>
									{% elif orderproduct.order.status == "Transist" %}
									<td><div class="text-center"  style="width:100px; color:white; background-color:#a3913d;">Transist</div></td>
									{% elif orderproduct.order.status == "Accepted" %}
									<td><div class="text-center"  style="width:100px; color:white; background-color:#3b7367;">Accepted</div></td>
									{% elif orderproduct.order.status == "Completed" %}
									<td><div class="text-center"  style="width:100px; color:white; background-color:#3a723c;">Completed</div></td>
									{% elif orderproduct.order.status == "Cancelled" %}
									<td><div class="text-center"  style="width:100px; color:white; background-color:#b44b4b;">Cancelled</div></td>
									{% endif %}
									<td>Cancel</td>
								</tr>
								{% endfor %}
									{% comment %} <td><span class="label label-success">Completed</span></td>
							
									<td><span class="label label-danger">Canceled</span></td>
								
									<td><span class="label label-info">On Hold</span></td>
								
									<td><span class="label label-warning">Pending</span></td>
									 {% endcomment %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


{% endblock %}