{% extends 'base.html' %}

{% load static %}

{% block content%}

<section class="signin-page account">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="block text-center">
          <a class="logo" href="index.html">
            <img src="images/logo.png" alt="">
          </a>
          {% include 'includes/alerts.html' %}
          <h2 class="text-center">Create Your Account</h2>
          <form class="text-left clearfix" action="{% url 'register'%}" method='POST'>
             {% csrf_token %}
            <div class="form-group">
             {{form.first_name}}
            </div>
            <div class="form-group">
              {{form.last_name}}
            </div>
            <div class="form-group">
              {{form.email }}
            </div>
            <div class="form-group">
              {{form.phone_number}}
            </div>
            <div class="form-group">
              {{form.password}}
            </div>
            <div class="form-group">
              {{form.confirm_password}}
            </div>
            <div class="text-center">
              {% comment %} <input type="button" class="btn btn-main text-center" id="btnsave" value="Sign In"> </input> {% endcomment %}
              <button type="submit" class="btn btn-main text-center" >Signin</button>
            </div>
             {{form.email.errors}}
             {{form.non_field_errors}}
          </form>
          <p class="mt-20">Already hava an account ?<a href="{%url 'login' %}"> Login</a></p>
          <p><a href="forget-password.html"> Forgot your password?</a></p>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
  $("#btnsave").click(function()
  {console.log("save button clicked");
   let email=$('#email_id').val()
   let first_name=$('#first_name_id').val()
   let last_name=$('#last_name_id').val()
   let phone_number=$('#phone_number_id').val()
   let password=$('#password_id').val()
   let confirm_password=$('#confirm_password_id').val()
   let csrf = $("input[name=csrfmiddlewaretoken]").val()
   if( first_name == ""){
    console.log("please enter first_name");
   }
   else if ( last_name == "") {
    console.log("please enter last_name");
   }
   else if ( email == "") {
    console.log("please enter email");
   }

   else if ( phone_number == "") {
    console.log("please enter phone_number");
   }

   else if ( password == "") {
    console.log("please enter password");
   }

   else if ( confirm_password == "") {
    console.log("please enter confirm_password");
   }else {
    //console.log(first_name);
   // console.log(last_name);
    //console.log(email);
   // console.log(phone_number);
   // console.log(password);
    
    ///var temp = email.split("@");
    //var username = temp[0];

    mydata = {first_name : first_name, last_name : last_name,  email : email, phone_number : phone_number, password : password, confrim_password : confirm_password, csrfmiddlewaretoken :csrf };
    $.ajax({
      url: "",
      method: "POST",
      data: mydata,
      success: function(data) {
        console.log(data);
      },
    });
    console.log(mydata);
    
   }
  });

</script>


{% endblock %}

