{% extends 'base.html' %}

{% load price_custom_tags %}

{% load static %}

{% block content%}
<h3 class="widget-title text-center mb-10">Review Your Order and Make Payment </h3>
<div class="page-wrapper">
    <div class="checkout shopping">
       <div class="container">
          <div class="row">
             <div class="col-md-8">
                <div class="block billing-details">
                

                </div>
                <div class="block">
                   <h4 class="widget-title">Billing Address</h4>
                   <p>{{ order.full_name}}</p>
                   <p>{{ order.email}}</p>
                   <p>{{ order.phone}}</p>
                   <p>{{ order.full_address}}</p>
                   <p>{{ order.city}} {{ order.state}}</p>
                   <p>{{ order.country}}</p>
                   {% if order.order_note %}
                   <b>Order Note :</b> <p>{{ order.order_note}}</p>
                   {% endif %}

                   <div class="checkout-product-details">
                      <div class="payment">
                         <div class="card-details">
                            <div class="block">
                               <h4 class="widget-title">Payment Method</h4>
                               <p>Razor Pay</p>
                               <div class="checkout-product-details">
                                  <div class="payment">
                                     <div class="card-details">
                                     
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
             <div class="col-md-4">
                <div class="product-checkout-details">
                     {% csrf_token %}
                   <div class="block">
                      <h4 class="widget-title">Product Review</h4>
                      {% for cart_item in cart_items %}
                      <div class="media product-card">
                       
                         <a class="pull-left" href="product-single.html">
                            <img class="media-object" src=" {{ cart_item.product.images.url}}" alt="Image" />
                         </a>
                        
                         <div class="media-body">
                            <h4 class="media-heading"><p >{{ cart_item.product.product_name}}</p></h4>
                            {% if cart_item.product.discount > cart_item.product.category.discount%}
                            <p class="price">{{ cart_item.quantity}} x Rs.{% sell_price cart_item.product.price cart_item.product.discount %}.00</p>
                            {% else %}
                            <p class="price">{{ cart_item.quantity}} x Rs.{% sell_price cart_item.product.price cart_item.product.category.discount %}.00</p>
                           {% endif %}
                            
                         </div>
                      </div>
                      
                    {% endfor %}

                  
                      <ul class="summary-prices">
                         <li>
                            <span>Subtotal:</span>
                            <span class="price">Rs.{{ totals }}.00 </span>
                         </li>
                         {% if coupon_code == None or coupon_code == 0 %}
                         
                        {% else %}
                        <li>
                           <span>Discount:</span>
                           <span class="price">-Rs.{{ coupon_discount_total }}.00 </span>
                        </li>
                        {% endif %}
                         
                         <li>
                                
                            <span>Shipping:</span>
                            <span>Free</span>
                         </li>
                           
                         <li>
                                
                            <span>GST:</span>
                            <span>Rs.{{ tax }}.00</span>
                         </li>
                         
                      </ul>
                      <div class="summary-total">
                         <span>Total</span>
                         <span>Rs.{{ grand_total}}.00</span>
                      </div>
                      
                      
                        <form action="{% url 'payments_razor' %}" method="POST" >
                           {% csrf_token %}


                           <input type="text" style="display: none;" value="{{ order_number}}" name='order_number'>


                           <script
                               src="https://checkout.razorpay.com/v1/checkout.js"
                               data-key="{{razorpay_merchant_key}}" // Enter the Test API Key ID generated from Dashboard → Settings → API Keys
                               data-amount="{{razorpay_amount}}" // Amount is in currency subunits. Hence, 29935 refers to 29935 paise or ₹299.35.
                               data-currency="INR"// You can accept international payments by changing the currency code. Contact our Support Team to enable International for your account
                               data-order_id="{{razorpay_order_id}}"// Replace with the order_id generated by you in the backend.
                               data-buttontext="Pay with Razorpay"
                               data-name="Pepper"
                               data-description="Hot as pepper and valuable"
                               data-image="https://example.com/your_logo.jpg"
                               data-prefill.name="Gaurav Kumar"
                               data-prefill.email="aswanthanu777@gmail.com"
                               data-theme.color="#F39254"
                           ></script>
                           <input type="hidden" custom="Hidden Element" name="hidden">
                           </form>
                           
                      
                      
                      
                        <div class="verified-icon">
                         <img src="">
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>








 
     

    {% endblock %}