{% load static %}
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row bg-black " style="margin-bottom:0px; border-radius:0px;">
          <ul class="nav">
         
            <li class="nav-item">
              <a class="nav-link" href="index.html">
                <h3><span class="icon-bg"  style="color: rgb(243, 237, 237); text-align:center ;"><h4>PEPPER</h4></span></h3>
                <h5><span class="menu-title" style="color: rgb(255, 242, 242);">Administration</span></h5>
              </a>
              </li>
              </ul>
          <div class="navbar-menu-wrapper d-flex align-items-stretch">
            <button class="navbar-toggler navbar-toggler align-self-center"  type="button" data-toggle="minimize">
              <h2><span class="mdi mdi-menu" style="height:30px; width:30px;"></span></h2>
            </button>
            <div class="search-field d-none d-xl-block">
              <form class="d-flex align-items-center h-100" action="#">
               
              </form>
            </div>
            <ul class="navbar-nav navbar-nav-right">
             
          
               
          </div>
        </nav>
        <!-- partial -->

  