
 {% load static %}
<footer class="footer section text-center">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ul class="social-media">
					<li>
						<a href="https://www.linkedin.com/in/aswanth-m-3807a41ba/" target="blank">
							<i class="tf-ion-social-linkedin"></i>
						</a>
					</li>
					<li>
						<a href="https://github.com/AswanthAnu" target="blank">
							<i class="tf-ion-social-github"></i>
						</a>
					</li>
					<li>
						<a href="https://instagram.com/_luca_a___?igshid=YmMyMTA2M2Y=" target="blank">
							<i class="tf-ion-social-instagram"></i>
						</a>
					</li>
					<li>
						<a href="https://pin.it/27JrdDq" target="blank">
							<i class="tf-ion-social-pinterest"></i>
						</a>
					</li>
				</ul>
				<ul class="footer-menu text-uppercase">
					<li>
						<a href="https://instagram.com/_luca_a___?igshid=YmMyMTA2M2Y=">CONTACT</a>
					</li>
					<li>
						<a href="">SHOP</a>
					</li>
					<li>
						
					</li>
					<li>
					
					</li>
				</ul>
				<p class="copyright-text">Copyright &copy;2021, Designed &amp; Developed by <a href="https://moonlit-piroshki-4e7f86.netlify.app/">Pepper</a></p>
			</div>
		</div>
	</div>
</footer>

<script src="{% static 'js/zooms.js/' %}"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>