 {% load static %}


 <!-- Start Top Header Bar -->
 <section class="top-header">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-xs-12 col-sm-4">
				<div class="contact-number">
					<i class="tf-ion-ios-telephone"></i>
					<span>+91-7907802091</span>
				</div>
			</div>
			<div class="col-md-4 col-xs-12 col-sm-4">
				<!-- Site Logo -->
				<div class="logo text-center">
					<a href="{% url 'home' %}">
						<!-- replace logo here -->
						<svg width="135px" height="29px" viewBox="0 0 155 29" version="1.1" xmlns="{% static 'http://www.w3.org/2000/svg' %}"
							xmlns:xlink="{% static 'http://www.w3.org/1999/xlink' %}">
							<g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" font-size="40"
								font-family="AustinBold, Austin" font-weight="bold">
								<g id="Group" transform="translate(-108.000000, -297.000000)" fill="#000000">
									<text id="AVIATO">
										<tspan x="108.94" y="325">PEPPER</tspan>
									</text>
								</g>
							</g>
						</svg>
					</a>
				</div>
			</div>
			<div class="col-md-4 col-xs-12 col-sm-4">
				<!-- Cart -->
				<ul class="top-menu text-right list-inline">
					<li class="dropdown cart-nav dropdown-slide">
						<a href="{% url 'cart' %}" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"><i
								class="tf-ion-android-cart"></i>Cart</a>
						<div class="dropdown-menu cart-dropdown">
							<!-- Cart Item -->
							
							<div class="media">
								
								<div class="media-body">
									<h4 class="media-heading"><a href="">{{ cart_item.product.product_name}}</a></h4>
									<div class="cart-price">
										
									
								</div>
								<a href="" class="remove"><i class="tf-ion-close"></i></a>
							</div><!-- / Cart Item -->
							<div class="cart-summary">
								<span>Quantity</span>
								<span class="total-price"> {{ cart_count }}</span>
							</div>

							<div class="cart-summary">
								<span>Total</span>
								<span class="total-price">Rs.{{ cart_total }}.00</span>
							</div>

							<ul class="text-center cart-buttons">
								<li><a href="{% url 'cart' %}" class="btn btn-small">View Cart</a></li>
								<li><a href="checkout.html" class="btn btn-small btn-solid-border">Checkout</a></li>
							</ul>
						</div>

					</li><!-- / Cart -->

					<!-- Search -->
					
					<li class="dropdown search dropdown-slide">
						<a href="#!" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"><i
								class="tf-ion-ios-search-strong"></i> Search</a>
						<ul class="dropdown-menu search-dropdown">
							<li>
								<form action="{% url 'search' %}" method="GET" class="search"><input type="search" class="form-control" placeholder="Search..." name="keyword"></form>
							</li>
						</ul>
					</li><!-- / Search -->

					<!-- Languages -->
					<li class="commonSelect">
						<select class="form-control">
							<option>IND</option>
							
						</select>
					</li><!-- / Languages -->

				</ul><!-- / .nav .navbar-nav .navbar-right -->
			</div>
		</div>
	</div>
</section><!-- End Top Header Bar -->


<!-- Main Menu Section -->
<section class="menu">
	<nav class="navbar navigation">
		<div class="container">
			<div class="navbar-header">
				<h2 class="menu-title">Main Menu</h2>
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
					aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>

			</div><!-- / .navbar-header -->

			<!-- Navbar Links -->
			<div id="navbar" class="navbar-collapse collapse text-center">
				<ul class="nav navbar-nav">

					<!-- Home -->
					<li class="dropdown ">
						<a href="{% url 'home'%}">Home</a>
					</li><!-- / Home -->


					<!-- Elements -->
					<li class="dropdown dropdown-slide">
						<a href="#!" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="350"
							role="button" aria-haspopup="true" aria-expanded="false">Shop <span
								class="tf-ion-ios-arrow-down"></span></a>
						<div class="dropdown-menu">
							<div class="row">

								<!-- Basic -->
								<div class="col-lg-6 col-md-6 pr-0 pl-0">
									<ul>
									
										
										<li><a href="{% url 'store' %}">Store</a></li>
										<li><a href="{% url 'cart' %}">Cart</a></li>
									</ul>
								</div>

								<!-- Layout -->
								<div class="col-lg-6 col-md-6 mb-sm-3">
									
								</div>

							</div><!-- / .row -->
						</div><!-- / .dropdown-menu -->
					</li><!-- / Elements -->

					<!-- Blog -->
	
					{% if user.is_authenticated %}
					<!-- Shop -->
					<li class="dropdown dropdown-slide">
						<a href="#!" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="350"
							role="button" aria-haspopup="true" aria-expanded="false">Profile <span
								class="tf-ion-ios-arrow-down"></span></a>
						<ul class="dropdown-menu">
							<li><a href="{% url 'dashboard' %}">Dashboard</a></li>
							<li><a href="{% url 'my_orders' %}">My Orders</a></li>
							<li><a href="{% url 'edit_profile' %}">Edit Profile</a></li>
							<li><a href="{% url 'address' %}">Address</a></li>
							<li><a href="{% url 'change_password' %}">Change Password</a></li>
						</ul>
					</li><!-- / Blog -->
					{% endif %}
					<!-- Pages -->
								<!-- Mega Menu -->
								<!-- Shop -->
					<li class="dropdown dropdown-slide">
						<a href="#!" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="350"
							role="button" aria-haspopup="true" aria-expanded="false">Accounts <span
								class="tf-ion-ios-arrow-down"></span></a>
						<ul class="dropdown-menu">
							{% if user.is_authenticated%}
										<li><a href="{% url 'logout' %}">Logout</a></li>
							{% else %}
										<li><a href="{% url 'login' %}">Login</a></li>
										<li><a href="{% url 'register' %}">Signup</a></li>
										
										
							{% endif %} 
						</ul>
					</li><!-- / Blog -->

								
							</div><!-- / .row -->
						</div><!-- / .dropdown-menu -->
					</li><!-- / Pages -->
				</ul><!-- / .nav .navbar-nav -->

			</div>
			<!--/.navbar-collapse -->
		</div><!-- / .container -->
	</nav>
</section>