<div style='overflow-x:auto'>
    <div class="row mt-3">
        {% if salesdates %}
        <div class="col-12 col-md-12 col-sm-12 d-flex justify-content-center align-items-center">
            <span class="">Sales Report of :{{salesdate}}</span>
        </div>
        {% else %}
        <div class="col-12 col-md-12 col-sm-12 d-flex justify-content-center align-items-center">
            <span class="">Total Sales Report</span>
        </div>
        {% endif %}
    </div>
    {% if not sales%}
    <div class="row mt-3">
        <div class="col-12 col-md-12 col-sm-12 d-flex justify-content-center align-items-center">
            <span class="text-muted fs-2">No data to Show</span>
        </div>
    </div>
    {%else%}
    <table class="table table-striped table-hover ">
        <thead>
            <tr>
                
                <th><h4>No</h4></th>
                <th><h4>Product Name</h4></th>
                <th><h4>Category</h4></th>
                <th><h4>Brand</h4></th>
                <th><h4>Unit Price</h4></th>
                <th><h4>Quantity</h4></th>
                <th><h4>Total Price</h4></th>
            </tr>
        </thead>
        <tbody>
        {% for sale in sales %}
            <tr>
                <td scope="row"><h5>{{ forloop.counter }}</h5></td>
               
                {%for product in products %}
                {% if product.id == sale.product_id %}
                
                <td><h5>{{product.product_name}}</h5></td>
                <td><h5>{{product.category.category_name}}</h5></td>
                <td><h5>{{product.brand.brand_name}}</h5></td>
                
                <td><h5>{{product.price}}</h5></td>
                <td><h5>{{sale.qty}}</h5></td>
                <td><h5>{% widthratio product.price 1 sale.qty %}</h5></td>
                {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
        

        {% endif %}
        </tbody>
    </table>
    
</div>
<div class="col-md-12">
<table class="table">
    <thead>
        <th><h4></h4></th>
        <th><h4></h4></th>
    </thead>
    <tbody>
    <tr>
        <td  colspan="2"><h5>Total : {{total_without_discount}}</h5></td>
        <td colspan="2"><h5></h5></td>
        <td  colspan="2"><h5>Total After Offer: {{total_with_offer}}</h5></td>
        <td colspan="2"><h5></h5></td>
    </tr>

</tbody>
</table>
</div>

