{% extends 'admin/admin_base.html' %}

{% load static %}

{% block content %}

<div class="row ">
    <div class="offset-3 col-md-12 col-sm-12 col-12">
        <canvas id="user_chart" width="300" height="350"></canvas>
    </div>
</div>



<script>
var xValues = ["Active users", "Blocked users"];
var yValues = ["{{ active_users }}", '{{ blocked_users }}'];



var barColors = [
  "#66841b",
  "#1b8563",
  "#2b5797",
  "#e8c3b9",
  "#1e7145"
];

new Chart("user_chart", {
  type: "pie",
  data: {
    labels: xValues,
    datasets: [{
      backgroundColor: barColors,
      data: yValues
    }]
  },
  options: {
    title: {
      display: true,
      text: "Users status"
    }
  }
});
</script>




<div class="row ">
    <div class="offset-4 col-md-12 col-sm-12 col-12">
        <canvas id="pay" width="300" height="350"></canvas>
    </div>
</div>



<script>
var paymeth = [{% for i in pay_method %}'{{i}}', {% endfor %}];
var payval = [{% for i in pay_count %}'{{i}}', {% endfor %}];
console.log(payval)

var barColors = [
  "#66841b",
  "#1b8563",
  "#2b5797",
  "#e8c3b9",
  "#1e7145"
];

new Chart("pay", {
  type: "pie",
  data: {
    labels: paymeth,
    datasets: [{
      backgroundColor: barColors,
      data:  payval,
    }]
  },
  options: {
    title: {
      display: true,
      text: "Sales on different payment methods"
    }
  }
});
</script>


<div class="row ">
  <div class="offset-3 col-md-12 col-sm-12 col-12">
      <canvas id="paystst" width="500" height="350"></canvas>
  </div>
</div>



<script>
var paystat = ['Out for delivery','Accepted', 'Completed', 'Shipped', 'Cancelled' ];
var status_count = [{% for i in status_count %}'{{i}}', {% endfor %}];

var barColors = [
"#66841b",
"#1b8563",
"#2b5797",
"#e8c3b9",
"#1e7145"
];

new Chart("paystst", {
type: "bar",
data: {
  labels: paystat,
  datasets: [{
    backgroundColor: barColors,
    data:  status_count,
  }]
},
options: {
  title: {
    display: true,
    text: "Ordered products delivery status"
  }
}
});
</script>

{% endblock %}
